<section id="about" class="has-text-centered" >
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-4">
                <div class="section" data-aos="fade-up-right">
                    <h1 class="title underline">About Me 👨‍🎓</h1>
                    <figure class="image avatar is-128x128">
                        <img class="is-rounded" src="/assets/img/dp/dp_2023.jpeg" />
                    </figure>
                    <p class="content"
                        >Hi, I'm Aishik Pyne. I'm a software engineer. I have a passion for traveling, photography, and riding.</p
                    >
                    <a class="button is-dark" href="/assets/downloads/resume.pdf">🎓 Resume</a>
                </div>
            </div>
            <div class="column is-4">
                <div class="section" data-aos="fade-up-right">
                    <h1 class="title underline">Skills 🤹‍♀️</h1>
                    <div class="content">
                        <h1 class="is-size-4">Languages I know</h1>
                        <div class="tags is-rounded is-centered">
                            <span class="tag">Python</span>
                            <span class="tag">TypeScript</span>
                            <span class="tag">C#</span>
                            <span class="tag">HTML</span>
                            <span class="tag">CSS</span>
                            <span class="tag">JavaScript</span>
                            <span class="tag">C++</span>
                            <span class="tag">Java</span>
                            <span class="tag">PHP</span>
                            <span class="tag">Java</span>
                        </div>
                    </div>
                    <div class="content">
                        <h1 class="is-size-4">Libraries I have worked on</h1>
                        <div class="tags is-rounded is-centered">
                            <span class="tag">TensorFlow</span>
                            <span class="tag">OpenAI Gym</span>
                            <span class="tag">JavaScript</span>
                            <span class="tag">TypeScript</span>
                        </div>
                    </div>
                    <div class="content">
                        <h1 class="is-size-4">Frameworks I have used</h1>
                        <div class="tags is-rounded is-centered">
                            <span class="tag">Unity</span>
                            <span class="tag">Django</span>
                            <span class="tag">ASP.NET</span>
                            <span class="tag">TypeScript</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
