<section id="about" class="section has-text-centered">
    <div class="container" data-aos="fade-up">
        <h1 class="title">Skills</h1>
        <div class="content">
            <h1 class="is-size-4">Languages I know</h1>
            <div class="tags is-rounded is-centered">
                <span class="tag">Python</span>
                <span class="tag">TypeScript</span>
                <span class="tag">C#</span>
                <span class="tag">HTML</span>
                <span class="tag">CSS</span>
                <span class="tag">JavaScript</span>
                <span class="tag">C++</span>
                <span class="tag">Java</span>
                <span class="tag">PHP</span>
                <span class="tag">Java</span>
            </div>
        </div>
        <div class="content">
            <h1 class="is-size-4">Libraries I have worked on</h1>
            <div class="tags is-rounded is-centered">
                <span class="tag">TensorFlow</span>
                <span class="tag">OpenAI Gym</span>
                <span class="tag">JavaScript</span>
                <span class="tag">TypeScript</span>
            </div>
        </div>
        <div class="content">
            <h1 class="is-size-4">Frameworks I have used</h1>
            <div class="tags is-rounded is-centered">
                <span class="tag">Unity</span>
                <span class="tag">Django</span>
                <span class="tag">ASP.NET</span>
                <span class="tag">TypeScript</span>
            </div>
        </div>
    </div>
</section>
