<section id="about" class="section has-text-centered">
    <div class="container" data-aos="fade-up">
        <h1 class="title">About Me</h1>
        <figure class="image avatar is-128x128">
            <img class="is-rounded" src="/assets/img/dp.jpg" />
        </figure>
        <p class="content">Hi I'm Aishik Pyne. I'm a software engieer. I have passion for travelling, photograpy and riding.</p>
        <a class="button is-dark" href="/assets/downloads/resume.pdf">Resume</a>
    </div>
</section>
