<div class="history">
	<div class="cd-timeline-header">
		<h2 id="Experenice">Experience</h2>
		<hr class="bar"/>
	</div>
	<section id="cd-timeline" class="cd-container">
		

		<div class="cd-timeline-block"><div class="cd-timeline-img cd-picture"><img src="../assets/img/college.svg" alt="Picture"/></div><!-- cd-timeline-img--><div class="cd-timeline-content"><h2 class="story-heading">Jadavpur University</h2><P>Major in Computer Science with special interest in Artificial Intellegence ,Computer Vision and Cognitive Sciences.</P><span class="cd-date">2015-2019</span></div><!-- cd-timeline-content--><!-- cd-timeline-block--></div>


		<div class="cd-timeline-block"><div class="cd-timeline-img cd-movie"><img src="../assets/img/idea14.svg" alt="College"/></div><!-- cd-timeline-img--><div class="cd-timeline-content"><h2>The JU Journal</h2><p>Founded a Journal which would inform and educate the students and society about the campus whose image other wise was being tarnished by the media.</p><span class="cd-date">April 2016</span></div><!-- cd-timeline-content--><!-- cd-timeline-block--></div>


		<div class="cd-timeline-block"><div class="cd-timeline-img cd-picture"><img src="../assets/img/web-programming.svg" alt="Picture"/></div><!-- cd-timeline-img--><div class="cd-timeline-content"><h2>Web Developement Project</h2><p>Developed an online election system for my University to facilitate easy flow of work in the administrative department. It helped me get accustomed delivering software packages. It mainly included the use of Markup languages and for server side, JSP and MySQL were used.</p><span class="cd-date">September 2016 - December 2016</span></div><!-- cd-timeline-content--><!-- cd-timeline-block--></div>


		<div class="cd-timeline-block"><div class="cd-timeline-img cd-location"><img src="../assets/img/question30.svg" alt="Location"/></div></div><!-- cd-timeline-->
		</div>
	</section>
	<div class="cd-timeline-header"><h2></h2></div>
</div>