<section id="intro" class="hero is-fullheight is-dark is-bold has-background">
    <img alt="Featured Image" class="hero-background is-transparent" id="hero_image" />
    <div class="hero-body">
        <div class="container">
            <h2 class="subtitle"> Hi </h2>
            <h1 class="title is-1"> I'm Aishik Pyne </h1>
        </div>
    </div>
</section>
<script>
    var hero_images = [
        "/assets/img/heros/hero_1.jpg",
        "/assets/img/heros/hero_2.jpg",
        "/assets/img/heros/hero_3.jpg",
        "/assets/img/heros/hero_4.jpg",
        "/assets/img/heros/hero_5.jpg",
        "/assets/img/heros/hero_6.jpg",
        "/assets/img/heros/hero_7.jpg",
        "/assets/img/heros/hero_8.jpg",
    ];

    document.getElementById("hero_image").src = hero_images[Math.floor(Math.random() * hero_images.length)];
</script>
