<section id="intro" class="hero is-fullheight is-dark is-bold has-background">
    <img alt="Featured Image" class="hero-background is-transparent" id="hero_image" />
    <div class="hero-body">
        <div class="container">
            <h2 class="subtitle"> Hi </h2>
            <h1 class="title is-1"> I'm Aishik Pyne </h1>
        </div>
    </div>
</section>
<script>
    var hero_images = ["hero_1.jpg", "hero_2.jpg", "hero_3.jpg", "hero_4.jpg", "hero_5.jpg", "hero_6.jpg", "hero_7.jpg", "hero_8.jpg"];
    var selected_img = hero_images[Math.floor(Math.random() * hero_images.length)];
    document.getElementById("hero_image").srcset = `/assets/img/heros/m_${selected_img} 1600w,/assets/img/heros/${selected_img} 4000w`;
    document.getElementById("hero_image").sizes = `(max-width: 768px) 1600w, 4000w`;
    document.getElementById("hero_image").src = `/assets/img/heros/${selected_img}`;
</script>
