---
---
<div id="map" style="height: 500px;"></div>

<script type="text/javascript" src="https://stamen-maps.a.ssl.fastly.net/js/tile.stamen.js?v1.3.0"></script>
<script>
  var map = L.map('map', {
    center: [
      18.06231230454674, 95.09765625000001
    ],
    zoom: 4,
    minZoom: 3,
    maxZoom: 8,
    boxZoom: false,
    dragging: true
  });

// L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/watercolor/{z}/{x}/{y}.{ext}', {
//     attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
//     subdomains: 'abcd',
//     minZoom: 1,
//     maxZoom: 16,
//     ext: 'jpg'
// }).addTo(map);


  L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/NatGeo_World_Map/MapServer/tile/{z}/{y}/{x}', {
    attribution: 'Tiles &copy; Esri &mdash; National Geographic, Esri, DeLorme, NAVTEQ, UNEP-WCMC, USGS, NASA, ESA, METI, NRCAN, GEBCO, NOAA, iPC',
    maxZoom: 16
  }).addTo(map)

// L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
//     attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
// }).addTo(map);


   

    // Draw Countries Visited GeoJson
    var myStyle = {
        "color": "#DE3163",
        "weight": 2,
        "opacity": 0.4
    };

    {% for country in site.data.countries %}
        $.getJSON("https://raw.githubusercontent.com/georgique/world-geojson/develop/countries/{{ country }}.json", 
            function(data) {
                L.geoJson(data, {
                    style: myStyle
                }).addTo(map);
        })
        
    {% endfor %}

    // Marker for each post
    var mapMarkerIcon = L.icon({
        iconUrl: '/assets/img/icons/mapmarker.png',
        iconSize: [32, 32]
    });
    {% for post in site.posts %}
        {% if post.location %}
            L.marker([{{ post.location.lat }}, {{ post.location.lng }}], {
                icon: mapMarkerIcon
            }).addTo(map).bindPopup("<>{{ post.title }}"); 
            
        {% endif %}
    {% endfor %}
    
</script>