<section class="hero is-post is-fullheight is-dark is-bold has-background">
    <img alt="Featured Image" class="hero-background is-transparent" src="{{page.featured_image}}" />
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-size-1">
                {{include.title}}
            </h1>
            <h2 class="subtitle">
                {{include.date | date_to_string}} · 
                {% include readingtime.html %} · 
                {{ site.author }}
            </h2>
            <div class="tags">
                {% for tag in include.tags %}
                <span class="tag is-rounded">{{tag}}</span>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
