<div class="box">
    <p class="is-size-5">You May Also Enjoy</p>
    <div class="is-divider is-small"></div>
    {% assign maxRelated = 4 %} 
    {% assign minCommonTags = 1 %} 
    {% assign maxRelatedCounter = 0 %} 
    {% for post in site.posts %} 
        {% assign sameTagCount = 0 %}
        {% for category in post.categories %} 
            <!-- Count common tags but don't include this post itself -->
            {% if post.url != page.url and page.categories contains category %}
                {% assign sameTagCount = sameTagCount | plus: 1 %} 
            {% endif %} 
        {% endfor %} 
        {% if sameTagCount >= minCommonTags %}
            {% include posts/postcardsmall.html url=post.url title=post.title date=post.date image=post.thumbnail
            excerpt=post.excerpt css="" %}
            <!-- <a href="{{ post.url }}">{{ post.title }}</a> -->
            {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %} 
            {% if maxRelatedCounter >= maxRelated %} 
                {% break %} 
            {% endif %} 
        {% endif %} 
    {% endfor %}
</div>

