  
// This is a partial.
// It lies in <source>/_sass, just waiting to be imported.
// It does not contain the YAML front matter and has no corresponding output file in the built site.

$primary-dark: #004445;
$primary: #2c7873;
$primary-light: #6fb98f;
$yellow: #ffd800;