// This is a partial.
// It lies in <source>/_sass, just waiting to be imported.
// It does not contain the YAML front matter and has no corresponding output file in the built site.
@import url("https://fonts.googleapis.com/css?family=Righteous|Roboto&display=swap");
$family-primary: Righteous, Roboto, sans-serif;
$family-secondary: Roboto;

.body {
    width: 100%;
    float: left;
    overflow: hidden;
}
.hero.has-background {
    position: relative;
    overflow: hidden;
}
.hero-background {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
}
.hero-background.is-transparent {
    opacity: 0.7;
}
.is-divider {
    display: block;
    position: relative;
    border-top: 0.1rem solid rgb(173, 173, 173);
    height: 0.1rem;
    margin: 1rem 0;
    text-align: center;
}
figure.avatar {
    margin: 0 auto 2rem;
}

.navbar {
    &.is-transparent {
        background-color: transparent;
        background-image: none;
    }
}

.top-margin {
    margin-top: 3rem;
}
@import "../external/bulma/bulma.sass";
@import "/assets/css/external/animate/animate.css";
@import "/assets/css/external/bulma/bulma-extensions.min.css";
@import "/assets/css/external/bulma/bulma-carousel.min.css";

.underline {
    text-decoration: underline solid $dark;
}
