---
layout: default
---

<section class="section is-flex-grow-1">
  <div class="container is-max-desktop" data-aos="fade-up-right">
    <div class="hero is-post is-dark is-bold has-background">
      <img alt="Featured Image" class="hero-background is-transparent" src="{{page.featured_image}}" />
      <div class="hero-body">
          <div class="container">
              <h1 class="title">
                  {{ page.title }}
              </h1>
              <h2 class="subtitle is-size-6">
                  {{ page.date | date_to_string}} · 
                  {% include readingtime.html %} · 
                  {{ site.author }}
              </h2>
              <div class="tags">
                  {% for tag in page.tags %}
                  <span class="tag is-rounded">{{tag}}</span>
                  {% endfor %}
              </div>
          </div>
      </div>
    </div>
  
    <!-- Collapsable TOC -->
    <article class="message toc mt-2 mb-2"> 
      <div class="message-header">
        <p>Table of Content</p>
        <a data-action="collapse" href="#table-of-content">
          <span class="icon">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </a>
      </div>
      <div id="table-of-content" class="message-body is-collapsible is-active">
        <article class="content pb-4">
          {% toc %}
        </article>
      </div>
    </article>

    <!-- Content -->
    <article class="content is-normal is-family-secondary has-text-weight-medium">
      {{ content }}
    </article>
  </div>
  <div class="container">
    <div class="column">
      {% include posts/relatedposts.html %}
    </div>
  </div>
</section>
