---
layout: default
---

<div>
    {% include hero.html title=page.title excerpt=page.excerpt %}
    <section class="section">
        <div class="container" style="margin-top: -5rem;" data-aos="fade-up">
            <div class="columns">
                <div class="column is-three-quarters content">
                    <div class="box">
                        {{ content }}
                    </div>
                </div>
                <div class="column">
                    {% include posts/relatedposts.html %}
                </div>
            </div>
        </div>
    </section>
</div>
