---
layout: default
---

<div>
    {% include hero.html title=page.title excerpt=page.excerpt date=page.date tags=page.tags %}
    <section class="section">
        <div class="container is-max-desktop"  data-aos="fade-up-right"> <!-- style="margin-top: -6rem;" -->
              <!-- Collapsable TOC -->
              <article class="message">
                <div class="message-header">
                  <p>Table of Content</p>
                  <a data-action="collapse" href="#table-of-content">
                    <span class="icon">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </a>
                </div>
                <div id="table-of-content" class="message-body is-collapsible is-active">
                  <article class="content pb-4">
                    {% toc %}
                  </article>
                </div>
              </article>

              <!-- Content -->
              <article class="content is-normal is-family-secondary has-text-weight-medium">
                  {{ content }}
              </article>
        </div>
        <div class="container">
            <div class="column">
                {% include posts/relatedposts.html %}
            </div>
        </div>
    </section>
</div>
