---
layout: default
---

<div>
    {% include hero.html title=page.title excerpt=page.excerpt date=page.date tags=page.tags %}
    <section class="section">
        <div class="container" style="margin-top: -6rem;" data-aos="fade-up-right">
            <div class="columns is-centered">
                <div class="column is-7">
                    <div class="box content is-family-secondary is-size-5">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="column">
                {% include posts/relatedposts.html %}
            </div>
        </div>
    </section>
</div>
